/* src/Map.css */

/* This container will ensure the map takes up the full screen */
.map-page-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0; /* Ensures the map is behind other content */
}

/* The map itself will fill its container */
#map {
    height: 100%;
    width: 100%;
}

/* Ensure the navbar stays fixed on top of everything */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  /* You don't need to add background-color here, as it's already transparent in Navbar.css */
}