/* src/index.css */

/* This is the key to removing all default browser spacing. */
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevents horizontal scrollbars */
}
/* src/index.css */

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Apply font globally */
  background-color: #000;
  color: #fff;
}
