/* src/index.css */

/* This is the key to removing all default browser spacing. */
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevents horizontal scrollbars */
}
